@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@600&display=swap');

*{ font-family: "Alkatra";
    margin: 0;
    padding: auto;
  background-image: url("Fondo\ cv.jpg");
  }
 
  .informacion {
    padding-top: 100px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    color: aliceblue;
  }

  .informacion h1 {
    font-size: 5rem;
    letter-spacing: 3px;
  }
  .informacion h2 {
    font-size: 3rem;
    letter-spacing: 2px;
  }
  
  .main {
    font-size: xx-large;
    color: azure;
  }
  .telefono {
    color: white;
  }